.gallery__button{
    background-color: white;
}

.section-tabs-bullet_active{
    background: #fff!important;
}

.fun-info-block:hover .fun-info__title{
    background: transparent;
}

.swiper-slide>a{
    left:0px;
}

section.welcome{
    height: calc(100vh - 153px)!important;
    margin-top: 0px;
}

.img-responsive{
    min-width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.gallery__row_fourth .gallery__col{
    overflow: hidden;
}

.textHeading{
    font-size: 40px;
    margin: 20px 0px;
}

.textcontent{
    font-size: 16px;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
}


.textcontent h2{
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}


.textcontent h3{
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 30px;
}

.textcontent ul {
    list-style: disc;
    padding-left: 40px;
}

.textcontent ul li a{
    color: #000;
    text-decoration: underline;
}

.form-control{
    padding: 5px;
    border: black 1px solid;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn{
    color:white;
    padding: 10px 15px;
    background: black;
    border:none;
    text-align: center;
}

.accomodation-basic__price__button a{
    color:white;
}

.tags-container__content{
    z-index: 5000;
}

.tags-container__mobile .tags-container__content{
    position: relative;
    top:0;
    left: 0px;
    bottom:0px;
    z-index: 0;
}

.guestStarsForm{
    margin-top: 20px;
    padding-bottom: 0px!important;
}

.icon-rating_empty{
    cursor: pointer;
}

.stickyBooking{
    position:fixed!important;
    top:77px
}

.c-answer__title{
    padding-top: 10px;
    padding-bottom: 10px;
}

.two-column__item{
    min-width: 200px;
    margin-right: 50px;
}

.c-tab li:first-child{
    font-weight: 400!important;
}

.guest_active{
    font-weight: bold;
}

section.accomodation-basic{
    border-bottom: 1px solid #adadad;
}

.header__bottom_no-border{
    border-bottom: 0px transparent solid!important;
}

.header__bottom{
    border-bottom: 0px transparent solid!important;
}

.c-rating_3 .icon-rating:nth-child(n+4) svg{
    fill: none;
    stroke: #000;
}

.c-rating_2 .icon-rating:nth-child(n+3) svg{
    fill: none;
    stroke: #000;
}

.c-rating_1 .icon-rating:nth-child(n+1) svg{
    fill: none;
    stroke: #000;
}

.b-rating__item_empty::after{
    right: 100%;
}

.b-rating__progress .b-rating__item:nth-child(n+6){
    display: none;
}

.accomodation-basic_no-border-bottom{
    border-bottom: 1px solid transparent!important;
}

.gallery__col_text:after{
    background: transparent;
}

.sitemap{
    margin-bottom: 20px;
}

@media(orientation: portrait) and (max-width:680px){
    .section-tabs__items .section-tabs__item .section-tabs__item__wrap{
        height: 540px;
    }
    section.section-tabs .section-tabs__slider{
           height: 542px; 
    }
}

@media(orientation: landscape) and (max-width:968px){
    .section-tabs__items .section-tabs__item .section-tabs__item__wrap{
        height: 160vh;
    }
}


@media(max-width:960px){
    .section-tabs__items .section-tabs__item .section-tabs__item__wrap .section-tabs__item__content .section-tabs__item__button-wrap{
        position: relative;
        top: 50px;
    }
    
    .popup__booking stickyBooking popup__booking_open{
        height: 340px; 
    }
    
    section.popup__booking .popup__booking_wrap{
        justify-content: flex-end; 
    }
    
    .section-slider__no-margin-top{
        margin-top:-10px!important;
    }
    
    #map{
        height: 100vh!important;
    }
    
    #map>ymaps{
        height: 115vh!important;
    }
    
    .section-breadcrums__item{
        font-size: 18px!important;
    }
    
    section.popup__booking{
        height: 278px;
    }
    
    .no-border-bottom{
        border-bottom: 1px solid transparent!important;
    }
    
    .two-column__item{
        margin-right: 15px;
    }
    
    .welcome__info{
        margin-bottom: 20px;
        margin-top: 0px;
    }
    
    .tags-container{
        background: #000;
    }
    
    .gallery__col_text ul{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    
    .gallery__col_text{
        min-height:250px; 
    }
    
    .gallery__row_large{
       height: 540px;
    }
    
    .gallery__col_text ul li{
        padding-left: 20px;
        position: relative;
        font-size: 14px;
        line-height: 27px;
    }
    
    section.section-tabs .section-tabs-pagination .section-tabs-bullet{
        background-color: rgba(0,0,0,1);
    }
    
    section.section-tabs .section-tabs-pagination .section-tabs-bullet:nth-child(odd){
        background-color: #000;
    }
    
    header.header{
        border-bottom: 1px solid transparent;
    }
}

@media(max-width:767px){
    .m-block__item{
        width: 80%;
    }
    .m-block__price{
        text-align: right;
    }
    
    .m-block__price{
        min-width: 75px;
    }
    
    .c-form__input{
        width: 100%!important;
    }
    
    .c-form__input_button{
        position: relative;
        top: 15px;
    }
    
    .fun-info__title{
       min-width: 300px;
       text-align: center;
    }
    
    .accomodation-basic__price__button{
        width: 125px!important;
        font-size: 12px!important;
    }
    
    .accomodation-basic__price__text{
        font-size: 12px!important;
    }
    
    .accomodation-welcome__title__stars{
        display: inline-block;
    }
  
    .welcome__info .wrap .welcome__info__text{
        font-size: 16px;
    }
    
    section.contacts-welcome .contacts-welcome__image{
        height: 264px;
    }
    
    .full-width{
        height: 264px;
        min-height: 264px;
    }
    
    .filter-light{
        height: 180px;
    }   
    
}


@media(min-width:1024px){
    .sitemap{
        float:left;
        width: 33.3%;
    }
    
    .tags-container{
        display: block!important;
    }
}

.sitemap ul{
    padding-left: 0px;
}

.sitemap__level-1{
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 20px;
    list-style: none;
}

.sitemap__level-1 a{
    text-decoration: none;
}

.sitemap__level-2{
    list-style: none;
    line-height: 30px;
}

.sitemap__level-2 a{
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
}

@media(min-width:768px){
    .tags-container__mobile{
        display: none;
    }   
    .m-block__desc{
        min-width: 480px
    }
    
    .tags-container{
        display: none;
    }
    
}

@media(min-width:968px) and (max-width:1024px){
    section.contacts-welcome .contacts-welcome__image{
        height: 350px;
    }
    
    .full-width{
        height: 350px;
        min-height: 350px;
    }
    
    .section-tabs__items .section-tabs__item .section-tabs__item__wrap .section-tabs__item__content .section-tabs__item__button-wrap{
        position: relative;
        top: 30px;
    }
    
    .m-block__desc{
        min-width: 365px;
    }
    
    .mobile-show{
        display: none;
    }
    
    .tags-container{
        display: none;
    }
        
    .welcome__info{
        margin-bottom: 20px;
        margin-top: 0px;
    }
}


@media(min-width:968px) and (max-width:1400px){
    .popup__spec__form-wrap input{
        font-size: 16px!important;
        height: 34px!important;
    }
    .popup__spec__input_text-area{
        height: 8vh!important;
        font-size: 16px!important;
    }
}

@media(min-width:1400px){
    .c-answer{
        max-width: 80%!important;
    }
    .c-answer__title{
        font-size: 22px;
    }
}

@media(max-width:568px){
    .section-breadcrums__item{
        font-size: 10px!important;
    }
    
    section.popup__booking{
        height: 340px;
    }
}